*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{

    max-width:800px;
    min-height:400px;
    border:2px solid black;
    margin-inline: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    flex-direction: row-reverse;
    gap: 1rem;    
    /* flex-wrap: wrap;     */

}
.body{

    background-color: rgb(201, 165, 32);
    /* min-width: 100px; */
    height: 100px;
    font-size:1.3rem;
    /* display:flex; */

    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100px;
}

.body:nth-child(even){

    flex-grow: 2;
    flex-shrink: 2;
}