*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    height:300vh;
}

h1{
    padding:1rem;  
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid black;
}

article{
    height:200vh;
    width:40vw;
    border:1px solid green;
    margin:2% auto;
    position:relative;
    
}

article h2{
    background-color: blanchedalmond;
    padding:3%;
}

.body{
    height:15vh;
    width:25vw;
    border:1px solid rgb(115, 71, 4);
}

.static{
    position:static;
    top:10px;
    left:20px;
    background-color:rgb(183, 176, 47);
    /* z-index: 2; */
}

.absolute{

    position:absolute;
    top:10px;
    left:30px;
    background-color:darkgoldenrod;
    /* z-index: -1; */
}

.relative{
    position:relative;
    left:20px;
    top:10px;
    background-color: darkseagreen;
}

.fixed{
    position:fixed;
    top:30%;
    background-color: dimgrey;
    /* z-index:; */
}

.sticky{
    position:sticky;
    top:50%;
    background-color: salmon;
}